<!-- templates/books/book_detail.html -->
{% extends "_base.html" %}
{% block title %}
    {{ book.title }}
{% endblock title %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0"
                         width="600"
                         height="700"
                         src="{{ book.image_link }}"
                         alt="book cover"/>
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">Rating: {{ book.rating }}</div>
                    <h1 class="display-5 fw-bolder">{{ book.title|truncatewords:10 }}</h1>
                    <h4>By {{ book.author }}</h4>
                    <div class="fs-5 mb-5">
                        <span>{{ book.genre }}</span>
                    </div>
                    <p class="lead">{{ book.description|truncatewords:50 }}</p>
                    <div class="d-flex">
                        <a href="#"
                           onClick="navigateBack();return false;"
                           class="btn btn-outline-dark flex-shrink-0 me-3">
                            <i class="bi-arrow-left me-1"></i>
                            Back
                        </a>
                        {% if not has_liked_book %}
                            <a class="btn btn-dark flex-shrink-0 ml-3"
                               href="{% url 'like_book' book.id %}"
                               id="likeBtn">Like</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    {% if has_liked_book and recommendations %}
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">You might also like</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for recommended in recommendations %}
                        <div class="col mb-5">
                            <a class="card h-100" href="{{ recommended.book.get_absolute_url }}">
                                <!-- Book image-->
                                <img class="card-img-top"
                                     src="{{ recommended.book.image_link }}"
                                     alt="..."/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
{% block scripts %}
    <script>
        function navigateBack() {
            window.history.back();
        }
    </script>
{% endblock scripts %}
